---
version: '3.8'
services:
  tzsp-proxy:
    image: pace23pace/tzsp-proxy:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: tzsp-proxy
    environment:
    - TZ=UTC
    - IFACE_TZSP=eth0
    - IFACE_TZSP_PORT=37008
    - IFACE_SNIFFER=eth0
    - SANITY_LOG=False
    - SANITY_COUNT_LOG=1000
    - SNIFFER_SEND_VERSBOSE=False
    - PACKET_COUNT_LOG=1000
    restart: unless-stopped
    network_mode: host
    cap_add:
    - NET_ADMIN
    - NET_RAW
    - SYS_NICE
